<launch>
    <!-- joy input -->
    <arg name="dev" default="/dev/input/js0"/>
    <arg name="control_frequency" default="50" />

    <!-- Joy controller -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg dev)"/>
        <param name = "autorepeat_rate" value = "100"/>
    </node>

    <!-- serial nodes -->
    <node pkg="serial_ros" name="ball_e_motor" type="serial_ros_node" output="screen" respawn="true">
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF303032424257010822-if02"/>
        <param name = "looprate" value = "70"/>
        <remap from = "/Serial_sub_float" to = "/control_12" />
        <remap from = "/Serial_pub_float" to = "/rcv_serial_12" />
    </node>

</launch>
