<launch>
  <!-- params -->
  <arg name="mode" default="real"/>
  <arg name="control_frequency" default="30" />
  <arg name="base_frame_id" default="base_footprint" />

  <include file="$(find nhk2022_launcher)/launch/R2/bringup/bringup_R2.launch">
    <arg name="mode" value="$(arg mode)" />
    <arg name="control_frequency" value="$(arg control_frequency)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
  </include>

  <!-- WebGUI -->
  <!-- <include file="$(find nhk2022_webgui)/launch/server.launch">
    <arg name="name" value="roswww_R2"/>
  </include> -->
  
</launch>
