<launch>
    <arg name="control_frequency" default="50" />

    <!-- bringup -->
    <include file="$(find nhk2022_launcher)/launch/R1/bringup/bringup_R1.launch">
        <arg name="control_frequency" value="$(arg control_frequency)" />
    </include>


    <!-- laser_filter -->
    <group if="$(arg use_laser_filter)">
        <include file="$(find nhk2022_launcher)/launch/common/localization/laser_filters.launch">
            <arg name="laser_filter_file" value="$(arg laser_filter_file)"/>
        </include>
    </group>

    <!-- task_selector -->
    <node pkg="nhk2022_launcher" type="task_selector.py" name="task_selector" output="screen"/>

    <!-- WebGUI -->
    <!-- <include file="$(find nhk2022_webgui)/launch/server.launch">
    <arg name="name" value="roswww_R1"/>
  </include> -->

</launch>
