<launch>
    <!-- accessories -->
    <node pkg="serial_test" name="mbed_accessories_controler" type="serial_test_node" output="screen" respawn="true">
        <param name = "looprate" value = "70"/>
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066DFF353138524E43041237-if02"/>
        <remap from = "/Serial_sub_float" to = "/accessories_controler_commands" />
    </node>

    <!-- motor -->
    <!-- <node pkg="serial_test" name="mbed_motor_controler" type="serial_test_node" output="screen" respawn="true">
        <param name = "looprate" value = "70"/>
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF303032424257010822-if02"/>
        <remap from = "/Serial_sub_float" to = "/elevator_controler_commands" />
    </node> -->

    <!-- table -->
    <!-- <node pkg="serial_test" name="mbed_table_controler" type="serial_test_node" output="screen" respawn="true">
        <param name = "looprate" value = "70"/>
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF515055657867244552-if02"/>
        <remap from = "/Serial_sub_float" to = "/table_controler_commands" />
    </node> -->
    
  <!-- accessories controler -->
  <node pkg="nhk2022_launcher" type="accessories_controler.py" name="accessories_controler"/>
</launch>