<launch>
    <node pkg="serial_test" name="mbed_accessories_controler" type="serial_test_node" output="screen" respawn="true">
        <!--param name = "port" value = "/dev/ttyACM1"/>-->
        <param name = "looprate" value = "70"/>
        <param name = "port" value = "/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF303435554157121318-if02"/>
        <remap from = "/Serial_sub_float" to = "/accessories_controler_commands" />
    </node>

    <!-- kabu unit mbed serial -->
    <!-- 066BFF333535554157133731 -->

  <!-- accessories controler -->
  <node pkg="nhk2022_launcher" type="accessories_controler.py" name="accessories_controler"/>
</launch>