<launch>
    <!--simulation or real-->
    <arg name="mode" default="simulation"/>

    <!-- laser filter config -->
    <arg name="laser_filter_file" default="laser_filter_R2.yaml"/>

    <!-- rviz config -->
    <arg name="rvizconfig" default="$(find nhk2022_simulator)/config/localization.rviz" />
    <param name="robot_description" textfile="$(find nhk2022_launcher)/urdf/R2.urdf" />

    <!-- spead config -->
    <arg name="acc_lim_xy" default="1.0" />
    <arg name="max_vel_xy" default="1.0" />
    <arg name="acc_lim_theta" default="0.314" />
    <arg name="max_vel_theta" default="0.314" />

    <!--path_planning_node-->
    <arg name="control_frequency" default="50" />
    <arg name="base_frame_id" default="base_link" />

    <group if="$(eval mode=='simulation')">
        <!-- laser_filter -->
        <include file="$(find nhk2022_launcher)/launch/common/localization/laser_filters.launch">
            <arg name="laser_filter_file" value="$(arg laser_filter_file)"/>
        </include>
    </group>

    <group if="$(eval mode=='real')">
        <!-- ################ statis tf settings ################ -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <!-- hardware boot -->
        <include file="$(find nhk2022_launcher)/launch/R2/bringup/sensor_activate_R2.launch"/>
        <node pkg="serial_ros" name="rogi_link" type="rogi_link_node" output="screen" respawn="true">
            <!-- <param name="looprate" value="$(arg  control_frequency)"/> -->
            <param name="control_frequency" value="200"/>
            <param name="port" value="/dev/ttyUSB0"/>
        </node>

        <!-- <include file="$(find nhk2022_launcher)/launch/R2/bringup/accessories_driver.launch"/> -->

        <node pkg="omni_wheelctrl" type="omni_wheelctrl" name="omni_wheelctrl" output="screen">
            <param name="control_frequency" value="$(arg control_frequency)"/>
            <param name="base_frame_id" value="$(arg base_frame_id)"/>
            <param name="body_width" value="0.440"/>
            <param name="body_height" value="0.440"/>
            <param name="gazebo_mode" value="false"/>
        </node>

        <!-- <node pkg="omni_odom_publisher" type="omni_odom_publisher" name="omni_odom_publisher" output="screen">
        <param name="control_frequency" value="$(arg control_frequency)"/>
        <param name="base_frame_id" value="$(arg base_frame_id)"/>
        <param name="body_width" value="0.440"/>
        <param name="body_height" value="0.440"/>
        </node> -->

        <node pkg="measure_wheel_odom_publisher" type="measure_wheel_odom_publisher" name="measure_wheel_odom_publisher" output="screen">
            <param name="control_frequency" value="$(arg control_frequency)"/>
            <param name="base_frame_id" value="$(arg base_frame_id)"/>
            <param name="c_w_distance_a" value="0.064"/>
            <param name="c_w_distance_b" value="0.064"/>
            <param name="wheel_diameter" value="0.06"/>
            <param name="vertical_axis" value="z"/>
            <param name="initial_position_x" value="-5.45"/>
            <param name="initial_position_y" value="0"/>
            <param name="initial_position_theta" value="1.57"/>
        </node>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig) -f odom" required="true" />
    </group>

    <!-- Joy controller -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name = "autorepeat_rate" value = "100"/>
    </node>

    <node pkg="joy_commander" type="joy_commander" name="joy_commander" output="screen">
        <param name ="control_frequency" value="$(arg control_frequency)"/>
        <param name = "acc_lim_xy" value = "$(arg acc_lim_xy)" />
        <param name = "max_vel_xy" value = "$(arg max_vel_xy)" />
        <param name = "acc_lim_theta" value = "$(arg acc_lim_theta)" />
        <param name = "max_vel_theta" value = "$(arg max_vel_theta)" />
        <remap from = "teleopflag" to = "/task_selector/teleop_mode"/>
    </node>

</launch>
