<robot name="R2">

  <link name="bno055" />

  <link name="laser1" />

  <link name="laser2" />

  <link name="base_footprint" />

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="bno055" />
    <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
  </joint>

  <joint name="laser1_link_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="laser1" />
    <origin xyz="0.16 0.16 0.0" rpy="0 -0 0" />
  </joint>

  <joint name="laser2_link_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="laser2" />
    <origin xyz="0.16 0.16 0.0" rpy="0 -0 0" />
  </joint> 


</robot>