<robot name="R2">

  <link name="bno055" />

  <link name="laser1" />

  <link name="laser2" />

  <link name="base_link" />

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="bno055" />
    <origin xyz="0.0 0.0 0.0" rpy="0 -0 3.1415" />
  </joint>

  <joint name="laser1_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser1" />
    <origin xyz="0.48 0.48 0.0" rpy="0 -0 0.785" />
  </joint>

  <joint name="laser2_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser2" />
    <origin xyz="-0.48 -0.48 0.0" rpy="0 -0 -2.355" />
  </joint>


</robot>