<launch>
  <!--simulation or real-->
  <arg name="mode" default="real"/>
  
  <arg name="control_frequency" default="50" />
  <arg name="base_frame_id" default="base_footprint" />
  <arg name="RB_recovery_mode" default="false" /> 
  <!-- RB_recovery_mode was used in 2021 to control 1 unit by 2MD --> 
  
  <!-- important config of bezier_path_planning_pursuit -->



  <!-- localization method -->
  <!-- choose "odom" or "amcl" -->
  <arg name="localization_method" default="amcl"/>

  <!-- bringup -->
  <include file="$(find nhk2022_launcher)/launch/TR/bringup/bringup_TR.launch">
    <arg name="mode" value="$(arg mode)" />
    <arg name="control_frequency" value="$(arg control_frequency)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="RB_recovery_mode" value="$(arg RB_recovery_mode)" />
  </include>



  <!-- amcl -->
  <group if="$(eval localization_method=='amcl')">
    <include file="$(find nhk2022_launcher)/launch/common/localization/amcl.launch">
      <arg name="use_laser_filter" value="$(arg use_laser_filter)"/> 
      <arg name="base_frame_id" value="$(arg base_frame_id)" />
      <arg name="initial_pose_x" value="0.5"/>
      <arg name="initial_pose_y" value="0.5"/>
      <arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <group if="$(eval localization_method=='odom')">
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0.5 0.5 0 0 0 0 map odom 1" />
  </group>

  <!-- task_selector -->
  <node pkg="nhk2022_launcher" type="task_selector.py" name="task_selector"/>

  <!-- WebGUI -->
  <include file="$(find nhk2022_webgui)/launch/server.launch">
    <arg name="name" value="roswww_TR"/>
  </include>

</launch>
